$light-main: #efefe8ff ;
$dark-main: linear-gradient( 109.6deg,  rgba(33,103,43,1) 11.3%, rgba(117,162,61,1) 91.1% );
$middle:   #6dac4fff;
$strong: #fe0000ff;

$main:linear-gradient(90deg, rgba(10,94,42,1) 0%, rgba(54,167,97,1) 50%, rgba(132,218,156,1) 100%);
$save: #0a5e2aff, #efefe8ff, #6dac4fff;