@import 'color';
.why {
    display: grid;
    width: 80%;
    margin: 1rem auto;
    background: $dark-main;
    grid-gap: 0.5rem;
    padding: 0.5rem;
    min-height: 40vh; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-auto-rows: 200px;
    &-item {
        display: flex;
        flex-direction: column;
        // min-height: 20vh;
        background: $middle;
        &-icon {
            flex: 1;
            // width: 100%;
            // height: 100%;
            padding: 0 1rem;
            padding-top: 0.5rem;
            // background: red;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 25%;
                // height: 100%;
                object-fit: contain;
                border-radius: 50%;
            }
            h2{
                color: $light-main;
                margin: 1rem;
            }
        }
        &-info {
            flex: 1;
            // margin: auto;
            padding:0 1rem ;
            padding-top: 0.5rem;
            font-weight: 600;
        }
    }
}

